APP_NAME={{ project_name }}
ENVIRONMENT=development
{% if db_enabled %}
DB_HOST=db
DB_PORT=5432
DB_USER=dockit
DB_PASSWORD=secret
DB_NAME={{ project_name }}
{% endif %}
{% if redis_enabled %}
REDIS_HOST=redis
REDIS_PORT=6379
{% endif %}
